@inject IAuthorizationService _authorizationService;
@model IQueryable<IdentityRole>
@{
    ViewBag.Title = "角色列表";
}

<h1>角色列表</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width: auto" asp-action="CreateRole" asp-controller="Admin">新增角色</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">角色Id: @role.Id</div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                    
                    @if ((await _authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                    {
                        <a asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id" class="btn btn-primary">編輯</a>
                    }
                    <span id="confirmDeleteSpan_@role.Id" style="display: none">
                        <span>你確定要刪除?</span>
                        <button type="submit" class="btn btn-primary">是</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">否</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', true)">刪除</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">尚未新增角色</div>
        <div class="card-body">
            <h5 class="card-title">點擊下面按鈕新增角色</h5>
            <a class="btn btn-primary" style="width: auto" asp-controller="Admin" asp-action="CreateRole">新增角色</a>
        </div>
    </div>
}
@section Scripts
{
    <script src="~/js/CustomerScript.js" asp-append-version="true"></script>
}
